<h2 class="genesis-sidebar-title screen-reader-text">Primary Sidebar</h2>
<section id="recent-posts-2" class="widget widget_recent_entries">
  <div class="widget-wrap">
    <h3 class="widgettitle widget-title">Recent Posts</h3>
    {% if page.url contains "pt/" %}
      <ul>
        <li>
          <a href="https://www.hum-mus.org/pt/15th-icuh-conferencia-internacional-de-saude-urbana/">15th ICUH: Conferência Internacional de Saúde Urbana</a>
        <span class="post-date">23/01/2019</span>
        </li>
        <li>
          <a href="https://www.hum-mus.org/pt/pnum-2018-morfologia-e-mobilidade-urbana-saudavel/">PNUM 2018: Morfologia e Mobilidade Urbana Saudável</a>
        <span class="post-date">14/08/2018</span>
        </li>
       </ul>

      {% else %}
        <ul>
         <li>
            <a href="/en/15th-icuh-international-conference-on-urban-health/">15th ICUH: International Conference on Urban Health</a>
              <span class="post-date">23/01/2019</span>
          </li>
          <li>
            <a href="/en/pnum-2018-morphology-and-healthy-urban-mobility/">PNUM 2018: Morphology and Healthy Urban Mobility</a>
              <span class="post-date">14/08/2018</span>
          </li>
        </ul>
      {% endif %}
    </div>
  </section>
