@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "base/grid-settings";
@import "../bower_components/neat/app/assets/stylesheets/neat";
@import "base/base";

body {
	direction: rtl;
	unicode-bidi: embed;
}

.site-header {
	text-align: right;
}

.front-page .site-title {
	text-indent: 9999px;
	overflow: hidden;
	background: url('images/musket-logo.png') top right no-repeat;
	background-size: contain;
}

.menu-primary {
	float: left !important;
}

.menu-item-has-children > a:after {
	margin-left: 0;
	margin-right: .6em;
}

.menu-primary,
.menu-secondary {
	.sub-menu .sub-menu li {
		margin-right: $base-spacing / 2;
		margin-left: 0;

		&:before {
			content: "\025C3";
			font-size: 0.6em;
			float: right;
			position: relative;
			margin-left: $base-spacing / 4;
			margin-right: $base-spacing / 4;
			top: 1.3em;
		}
	}
}

.breadcrumb {
	text-align: right;

	.breadcrumb-link-wrap:first-child {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: $base-border-radius;
		border-top-right-radius: $base-border-radius;
		border-top-left-radius: 0;
		margin-right: 0;
	}
	.breadcrumb-link-wrap:last-child {
		border-bottom-left-radius: $base-border-radius;
		border-bottom-right-radius: 0;
		border-top-left-radius: $base-border-radius;
		border-top-right-radius: 0;
		padding-left: ($base-spacing * 1.5) / 2;
	}

	.breadcrumb-link-wrap:after,
	.breadcrumb-link-wrap:before {
		@include position(absolute, 0px 100% 0px auto);
		@include transform(rotate(180deg));
		z-index: 1;
	}

	.breadcrumb-link-wrap:before {
	 	margin-right: 1px;
	 	z-index: 1;
	}
	.breadcrumb-link-wrap:after {
		border-right-color: #fff;
	}
}

.pagination {
	text-align: right;
}