//************************************
// 
// Genesis Column Classes
//
// Mainly here for compatibility with Genesis plugins.
// Be good and don't output these styles in markup. Use
// semantic markup instead and @extend classes like so:
//
// .semantic-class-name {
//     @extend .one-fourth;
//     @extend first;
// }
//
//************************************

%column-defaults {
	width: 100%;
	margin-left: 0;
}

.one-half,
.three-sixths,
.two-fourths {
	@extend %column-defaults;

	@include media($medium-screen-up) {
		float: left;
		margin-left: 2.564102564102564%;
		width: 48.717948717948715%;
	}
}

.one-third,
.two-sixths {
	@extend %column-defaults;

	@include media($medium-screen-up) {
		float: left;
		margin-left: 2.564102564102564%;
		width: 31.623931623931625%;
	}
}

.four-sixths,
.two-thirds {
	@extend %column-defaults;

	@include media($medium-screen-up) {
		float: left;
		margin-left: 2.564102564102564%;
		width: 65.81196581196582%;
	}
}

.one-fourth {
	@extend %column-defaults;

	@include media($medium-screen-up) {
		float: left;
		margin-left: 2.564102564102564%;
		width: 23.076923076923077%;
	}
}

.three-fourths {
	@extend %column-defaults;

	@include media($medium-screen-up) {
		float: left;
		margin-left: 2.564102564102564%;
		width: 74.35897435897436%;
	}
}

.one-fifth {
	@extend %column-defaults;

	@include media($medium-screen-up) {
		float: left;
		margin-left: 2.564102564102564%;
		width: 17.9487179487179488%;
	}
}

.two-fifths {
	@extend %column-defaults;

	@include media($medium-screen-up) {
		float: left;
		margin-left: 2.564102564102564%;
		width: 38.4615384615384616%;
	}
}

.three-fifths {
	@extend %column-defaults;

	@include media($medium-screen-up) {
		float: left;
		margin-left: 2.564102564102564%;
		width: 58.9743589743589744%;
	}
}

.four-fifths {
	@extend %column-defaults;

	@include media($medium-screen-up) {
		float: left;
		margin-left: 2.564102564102564%;
		width: 79.4871794871794872%;
	}
}

.one-sixth {
	@extend %column-defaults;

	@include media($medium-screen-up) {
		float: left;
		margin-left: 2.564102564102564%;
		width: 14.52991452991453%;
	}
}

.five-sixths {
	@extend %column-defaults;

	@include media($medium-screen-up) {
		float: left;
		margin-left: 2.564102564102564%;
		width: 82.90598290598291%;
	}
}

.first {
	clear: both;
	margin-left: 0;
}